<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.divoom.monthlybest</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/ztomer/Projects/divoom-control/divoom_lib/monthly_best_daemon.py</string>
        <string>--limit</string>
        <string>5</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>86400</integer>
    <key>StandardOutPath</key>
    <string>/Users/ztomer/Projects/divoom-control/test_reports/monthly_best_daemon_stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/ztomer/Projects/divoom-control/test_reports/monthly_best_daemon_stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
